* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.home-link {
    align-self: flex-start;
    margin-bottom: 20px;
    font-size: 1em;
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}


.home-link:hover {
    color: #357ab9;
}

/* Контейнер профиля */
.profile-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #4a90e2;
    text-align: center;
}

/* Стили для формы */
.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-weight: bold;
    color: #333;
    font-size: 1em;
}

input, select {
    padding: 12px 15px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #4a90e2;
}

/* Стили кнопок */
.btn {
    padding: 12px 20px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.form-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert {
    display: none;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
}
.delete-btn {
    background-color: transparent;
    color: #ff6a6a;
    border: none;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: underline;
    border-radius: 3px;
}

.delete-btn:hover {
    color: #ff3333;
    text-decoration: none;
}
.alert-success {
    background-color: #d4edda;
    color: #58acfd;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Мобильная адаптация */
@media (max-width: 600px) {
    .profile-container {
        width: 100%;
        padding: 20px;
    }
}
